# Core framework
streamlit

# Data handling
pandas
numpy

# Machine Learning & AI
scikit-learn
xgboost
ultralytics
torch
torchvision

# Image processing
opencv-python
Pillow

# Visualization
plotly
matplotlib
seaborn

# Graphs / networks
networkx
